/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');



*{
    margin: 0;
    padding: 0;
}

/*HEADER  Y NAV */

header {
    min-height: 100vh;
    position: relative;
}

.nav-top {
    background-color: white;
}

.nav-top .contenedor-nav {
    background-color: white;
    display: block;
    width: 100%;
    min-height: 30vh;
    text-align: center;
}

.logo h1 {
    background-color:white;
    text-align: center;
    margin: 0;
    padding: 12px;
    color: black;
    font-size: 30px;
    font-family: 'Alegreya SC', serif;
    letter-spacing: 5px;
}

.logo p{
    text-align: center;
    color: black;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.menu ul {
    background-color: white;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0px;
}

.menu ul li{
    display: inline-block;
    margin-top: 15px;
}

.menu a {
    color: black;
    font-family: 'Alegreya SC', serif;
    text-decoration: none;
    width: 200px;
    transition: .5s;
    display: block;
}

.menu a:hover {
    color:rgb(168, 100, 18);
    font-size: 20px;
}

.caja-video video {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.caja-video::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.caja-info {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.caja-info h2, .caja-info h3 {
    margin: 0 0 20px ;
}

.caja-info p{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Alegreya Sans SC', sans-serif;
    word-spacing: 8px;
    font-style: italic;
    text-transform: uppercase;
}

.caja-info h2 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Alegreya SC', serif;
}

.caja-info h3 {
    font-size: 40px;
    font-weight: 300;
    font-family: 'Great Vibes', cursive;
    word-spacing: 8px;
    letter-spacing: 1px;
}


/*section - studio*/
.titulo-section h2 {
    background-color: white;
    color:black;
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Alegreya SC', serif;
    text-transform: uppercase;
}

.container-bienvenida {
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.caja-1 {
    background-color: white;
    color:black;
    text-align: center;
    margin: auto;
    width: 60%;
    height: auto;
}

.caja-1 h3 {
    font-size: 30px;
    text-align: center;
    padding: 0px 0px 20px;
    font-family: 'Alegreya SC', serif;
}


.btn-form {
    background-color: rgb(168, 100, 18);
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin: 35px 0px;
    padding: 20px 40px;
    font-family: 'Alegreya SC', serif;
}

.btn-form:hover {
    color:black
}

/*section - portfolios*/
p {
    font-size: 20px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    margin: 0;
    padding: 0;
}

.caja-2{
    background-color: white;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 80px;
}

.container-box{
    display: inline-block;
}

.container-box p{
    font-size: 15px;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-size: cover;
    background-position: center;
}

.box a{
    text-decoration: none;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.box a:hover {
    color:rgb(168, 100, 18);
    font-size: 20px;
}

#box1 {
    background-image: url(img/img-box/boda.jpeg);
}

#box2{
    background-image: url(img/img-box/15.jpeg);
}

#box3{
    background-image: url(img/img-box/nacimiento.jpeg);
}

#box4{
    background-image: url(img/img-box/cumpleaños.jpeg);
}

#box5{
    background-image: url(img/img-box/evento.jpeg);
}

#box6{
    background-image: url(img/img-box/productos.jpeg);
}

/*section - workshop*/
.container-workshop{
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(img/img-workshop/workshop-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.workshop{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.caja-3{
    width: 60%;
    padding: 60px;
}

.caja-3 p{
    color: white;
}

.btn-workshop{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 20px black;
    text-decoration: none;
    padding: 10px 10px;
    font-family: 'Alegreya SC', serif;
}

.btn-workshop:hover {
    color:rgb(168, 100, 18);
    font-size: 20px;
}


.workshop h2{
    color:white;
    text-align: center;
    font-family: 'Alegreya SC', serif;
}


/* seccion colecciones*/
.container-colecciones{
    width: 100%;
    height: auto;
}

.caja-4 {
    background-color: white;
    width: 100%; 
    height: auto;
    text-align: center;
}

.caja-4 .p-sup{
    padding-top: 40px;
}

.container-box-colecciones{
    background-color: white;
}

.boxes{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 40px;
    background-size: cover;
    background-position: center;
}

.boxes a{
    text-decoration: none;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.boxes a:hover {
    color:rgb(168, 100, 18);
    font-size: 20px;
}

#box7{
    background-image: url(img/img-colections/maternidad.jpeg);
}

#box8{
    background-image: url(img/img-colections/familiar.jpeg);
}

#box9{
    background-image: url(img/img-colections/sesion.jpeg);
}


/* seccion instagram*/
.container-insta{
    width: 100%;
    height: auto;
}

.caja-5 {
    background-color: white;
    width: 100%; 
    height: auto;
    text-align: center;
}

.caja-5 .p-sup{
    padding-top: 40px;
}

.caja-5 .arroba{
    font-size: 25px;
    font-style: italic;
}

.container-box-ins{
    background-color: white;
}

.box-ins{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px;
    background-size: cover;
    background-position: center;
}

#box10{
    background-image: url(img/img-instagram/insta1.jpeg);
}

#box11{
    background-image: url(img/img-instagram/insta2.jpeg);
}

#box12{
    background-image: url(img/img-instagram/insta6.jpeg);
}

#box13{
    background-image: url(img/img-instagram/insta4.jpeg);
}

#box14{
    background-image: url(img/img-instagram/insta5.jpeg);
}


/*boton-up*/

.button-up{
    min-width: 50px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: all 300ms ease;
}

.button-up:hover{
    transform: scale(1.5);
    font-size: 30px;
    background-color: rgb(168, 100, 18);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
 
}  
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:#FFFFFF ;
    height: auto;
    width: 100 vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #111;
    margin-top: auto;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 1px auto;
    line-height: 1px;
    font-size: 16.94px;
} 
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin: 0 20px;
}
.socials a{
    text-decoration: none;
    color:#111
}
.socials a i{
    font-size: 1.1rem
    transition: color .4s ease; 
}
.socials a:hover i{
    color: #D4AF37;
}
.footer-bottom{
background: #000;
width: 100vw;
padding: 20px 0;
text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fcfcfc;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}